<h1>Listing ideas</h1>

<% @ideas.each do |idea| %>
  <div class="row">    
    <div class="span4 underline" >        
      <h2><%= link_to idea.name, idea %></h2>
      <%= markdown(idea.raw_content) %>
    </div>    
  </div>
<% end %>
